@media (max-width:576px){
.container{
	width:100%;
	/* margin-left:auto; */
	/* margin-right:auto; */
}

.flex_item_col1{
	width:8.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_col2{
	width:16.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_col3{
	width:25%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_col4{
	width:33.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_col5{
	width:41.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_col6{
	width:50%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_col7{
	width:58.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_col8{
	width:66.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_col9{
	width:75%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_col10{
	width:83.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_col11{
	width:91.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px
}
.flex_item_col12{
	width:100%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.d_none{
	display:none;
}
.section2{
	height:100vh;
	background-position:center;
}
.gap{
	gap:20px;
}
.letter1{
	margin-bottom:10px;
}
.footer1 {
	text-align:center;
}
.footer_icn ul{
	justify-content:center !important;
}
.order1{
	order:2;
}
.order2{
	order:1;
}
}
@media (min-width:768px) and (max-width:992px){
	.container{
		width:100%;
	}
	.flex_item_tab1{
	width:8.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_tab2{
	width:16.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_tab3{
	width:25%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_tab4{
	width:33.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_tab5{
	width:41.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_tab6{
	width:50%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_tab7{
	width:58.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_tab8{
	width:66.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_tab9{
	width:75%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_tab10{
	width:83.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_item_tab11{
	width:91.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px
}
.flex_item_tab12{
	width:100%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
	.d_none{
	display:none;
}
.section2{
	height:100vh;
	background-position:center;
}
.order1{
	order:2;
}
.order2{
	order:1;
}
.tab_row{
	gap:20px;
}
.row_gap{
	row-gap:20px;
}
} 
